:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  margin-top: auto;
}

.status-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #02152b;
  height: 8vh;
  width: 100vw;
}

.bottom-action-container {
  margin: 1vh;
  align-self: flex-end;
  margin-top: auto;
}

.status-container-item {
  display: inline-flex;
}

.time-button {
  height: 40px;
  width: auto;
  border: 0px;
  min-width: 150px;
  border-radius: 8px;
  background-color: #1a3340;
  border-color: transparent;
  color: #4fbfa5;
  font-family: Montserrat,sans-serif;
}

.time-button:hover {
  background: linear-gradient(90deg, rgba(102,68,135,1) 0%, rgba(71,63,113,1) 62%, rgba(42,57,93,1) 100%);
  color: white;
}

.advance-text {
  border: 0px;
  padding: 0px;
  height: 40px;
  width: 100px;
  background-color: #c9c7c7;
  font-size: 12pt;
  text-align: center;
  outline: transparent;
}

.advance-text:focus {
  border: 0px;
}

.advance-button {
  min-height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px;
  border: 0px;
  color: #4fbfa5;
  background-color: #1a3340;
  font-family: Montserrat,sans-serif;
  padding: 5px;
}

.advance-button:hover {
  min-height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px;
  border: 0px;
  color: white;
  background: linear-gradient(90deg, rgba(102,68,135,1) 0%, rgba(71,63,113,1) 62%, rgba(42,57,93,1) 100%);;
  font-family: Montserrat,sans-serif;
  padding: 5px;
}

.value-container {
  display: flex;
  align-self: center;
  margin: 1%;
}

.value-container-item {
  font-size: 12pt;
  margin-left: 5px;
  margin-right: 5px;
  align-self: flex-start;
}

.add-currency-container {
  display: grid;
  grid-template-columns: 25fr 25fr 25fr 25fr;
  grid-template-rows: 8vh auto auto auto;
}

.currency-svg {
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}

.deposit-button {
  height: 50px;
  width: 40%;
  min-width: 100px;
  max-width: 150px;
  padding: 0;
  margin: 5px;
  border: 0;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(102,68,135,1) 0%, rgba(71,63,113,1) 62%, rgba(42,57,93,1) 100%);
  color: white;
  cursor:pointer;
  font-size: 90%;
}

.deposit-input {
  height: 50px;
  width: 50%;
  margin: 10px;
  border: 0px;
  border-radius: 5px;
  color: black;
  cursor:pointer;
  font-size: 14pt;
  outline: transparent;
}

.add-usdc-button {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;

  background: linear-gradient(90deg, rgba(102,68,135,1) 0%, rgba(71,63,113,1) 62%, rgba(42,57,93,1) 100%);
  color: white;
  cursor:pointer;

  height: 30px;
  width: 115px;
  padding: 0;
  margin: 5px;
  border: 0;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  font-family: Montserrat,sans-serif;
}

/* Popup container */
.popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  border-radius: 10px;
  /* height: 20%;
  width: 25%;
  max-width: 50%; */
  padding: 1%;
  background-color: #02152b;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.management-panel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;

  height: 100%;
  width: 100%;
}

.xon-management {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-grow: 0;
  padding: 0;

  height: 70vh;
  width: 35vw;
  margin: 1vw;
  border-radius: 20px;
  background-color: #02152b;
}

.xon-count {
  height: auto;
  width: auto;
  line-height: normal;
  margin: 0;
  padding: 5%;
  font-size: 72pt;
}

.xon-management-button {
  background: linear-gradient(90deg, rgba(102,68,135,1) 0%, rgba(71,63,113,1) 62%, rgba(42,57,93,1) 100%);
  color: white;
  cursor:pointer;

  min-height: 40px;
  height: auto;
  width: 75%;
  padding: 0;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  font-family: Montserrat,sans-serif;
}

.label {
  font-size: 21pt;
  padding: 1%;
}